<app-header></app-header>

<ion-content>
  <div class="containerP">
    <div>
      <div class="rut" text-center>
        <h1 text-center>Bienvenido</h1>

      </div>

      <ion-card class="caja">
        <h3 text-center>Ingresa tu rut</h3>
        <ion-card-content class="imputP">

          <ion-item>
            <ion-label class="imputI" position="floating">rut</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <a href="/accounts"><ion-button class="button-getin" color="#ff7906" size="large">Continuar</ion-button></a>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
