.done{
    font-size: 3em;
    text-align: center;
    margin-top: 4em;
}

.key{
    font-size: 2em;
    text-align: center;
}

.key-row{
    margin-bottom: 2em;
    // margin-left: 100px;
    // margin-right: 100px ;
}


.button-getin{
    background-color: #ff7906;
    margin:20% auto 0 auto;
    width: 500px;
  }


.input-key{
    --padding-start-left:5em;
}
