

<app-header></app-header>


<ion-content>
<div class="containerP">
  <ion-text>
    <h1 text-center class="done">¡Ya estás casi listo!</h1>   
  </ion-text>

  <ion-row class="key-row">
    <ion-col size="2"></ion-col>
    <ion-col>
      <ion-text>
        <h3 class="key">Ingresa tu clave de 4 dígitos del cajero automático</h3>
      </ion-text>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

  <!-- <ion-grid>
    <ion-row class="rows">
      <ion-col size="2"></ion-col>

  <ion-col size="8">
  <ion-text>
    <h1 class="done">¡Ya estás casi listo!</h1>   
  </ion-text>
</ion-col>

<ion-col size=""></ion-col>
</ion-row>

<ion-row>
  <ion-col size="2"></ion-col>

  <ion-col>
    <ion-text>
      <h3 class="key">Ingresa tu clave de 4 dígitos del cajero automático</h3>
    </ion-text>
  </ion-col>

  <ion-col size="2"></ion-col>
</ion-row> -->

<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-item>
      <ion-label position="floating">1</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-col>
  <ion-col></ion-col>

  <ion-col></ion-col>
  <ion-col>
    <ion-item>
      <ion-label position="floating" >2</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-col>
  <ion-col></ion-col>

  <ion-col></ion-col>
  <ion-col>
    <ion-item>
      <ion-label position="floating">3</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-col>
  <ion-col></ion-col>

  <ion-col></ion-col>
  <ion-col>
    <ion-item>
      <ion-label position="floating">4</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-col>
  <ion-col></ion-col>
</ion-row>
<!-- </ion-grid> -->

<ion-button class="button-getin" color="orangered" size="large" expand="block" routerLink="/processing">Ingresar</ion-button>
</div>
</ion-content>
