<app-header></app-header>

<ion-content>
  <h2 class="rut">Tus cuentas</h2>
  <div class="containerp1">
    <div class="contn1">
      
        <a href="">
          <ion-img class="imgs" src="assets/img/agua.png"></ion-img>
        </a>
        <a href="">
          <ion-img class="imgs" src="assets/img/luz.png"></ion-img>
        </a>
        <a href="">
          <ion-img class="imgs" src="assets/img/gas.png"></ion-img>
        </a>
        <a href="">
          <ion-img class="imgs" src="assets/img/autopista.png"></ion-img>
        </a>
      
    </div>

    <div class="contn2">
      
        <a href="">
          <ion-img class="imgs" src="assets/img/tvcable.png"></ion-img>
        </a>
        <a href="">
          <ion-img class="imgs" src="assets/img/telfijo.png"></ion-img>
        </a>
        <a href="">
          <ion-img class="imgs" src="assets/img/telmov.png"></ion-img>
        </a>
        <a href="">
          <ion-img class="imgs" src="assets/img/addnew.png"></ion-img>
        </a>
      
    </div>

  </div>

</ion-content>