h2{
    text-align: center;
    margin-top:30%;
    color:#4F4F4F;
}
img{
    width:200px;
    margin:80px auto;
display: flex;
justify-items: center;
}
.button-getin{
    background-color: #ff7906;
    margin:20% auto 0 auto;
    width: 500px;
    
}