/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  background-color:  #f2f2f2;
}

body {
font-family: 'Roboto', sans-serif;
background-color:  #f2f2f2;
}
.button-getin {
  background: #ff7906; 
}

.containerP {
  background-color:  #f2f2f2;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}



.containerp1 {
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.contn1, .contn2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contn1 img {
  width: 700px;
  height: auto;
}


.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja .button-getin {
  width: 300px;
  height: 50px;
}

h1 {
  font-size: 80px;
  color: #4f4f4f;
}

h2 {
  font-size: 50px;
  color: #4f4f4f;
}

h3 {
    color: #4f4f4f;
  }

.rut {
  margin: 0;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

.imputP {
  height: 300px;
}
.imputI {
  height: 100px;
}

.imgs {
  height: 180%;
  width: 400px;
}

.titulo {
  background: #f2f2f2;
  text-align: center;
  z-index: 1000;
}

.gif{
  width:600px;
  height: 30%;
  margin:0 auto;
  
}

  .tex{
    text-align: center;
    margin-top:30%;
    color: #4f4f4f;
}




