/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
font-family: 'Roboto', sans-serif;
}

.button-getin {
  background: #ff7906; 
}

.containerP {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.containerp1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 10px 50px 25px 25px;
}

.contn1 {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contn2 {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caja .button-getin {
  width: 300px;
  height: 50px;
}

h1 {
  font-size: 80px;
  color: #4f4f4f;
}
h2 {
  font-size: 50px;
  color: #4f4f4f;
}

h3 {
    
    color: #4f4f4f;
  }

.rut {
  text-align: center;
}

.imputP {
  height: 300px;
}
.imputI {
  height: 100px;
}

.imgs {
  height: 180%;
  width: 400px;
}
